body {
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: orange;
}

#singleLine {
  /* border: none; */
  /* border-bottom: 10px; */

  /* border-color: red; */
  /* text-underline-position: under; */
}

/* Single field with text on it  */
.field1 > input {
  position: relative;
  width: 20rem;
  font-family: inherit;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 1.25rem;
  border-top: 10px;
  border-right: none;
  border-left: none;
}
/* #singleLine::after {
  border: none;
} */

.field2 {
  outline: none;
  /* border-top: 10px;
  border-right: none;
  border-left: none; */
  padding: 1.25rem;
  background-color: inherit;
  border-radius: 2.5px;
}

.field2 > input {
  font-family: inherit;
}
